<!doctype html>
<html lang="en">

<head>
  <title>M120 Ticket Machine | Verbindungen</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../../public/assets/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../public/assets/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../public/assets/favicon_io/favicon-16x16.png">
  <link rel="icon" href="../../public/assets/favicon_io/favicon.ico">
  <link rel="manifest" href="../../public/assets/favicon_io/site.webmanifest">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../public/styles/main.css">
  <link rel="stylesheet" href="../../public/styles/connections.css">

</head>

<body>
  <header>
    <a class="imageLink" href="../../public/index.html"><img class="LogoCircular"
        src="../../public/assets/Logo_Circular.png" alt=" Logo"></a>

    <div class="LoginRef">
      <button class="btn btn-primary" style="margin-right: 1%;" onclick="toLogin('connections.html')">Anmelden</button>
      <i class="themeToggle fa"></i>
    </div>

  </header>

  <main>
    <div id="steps">
      <a class="activeLink">1. Verbindung</a>
      <i class="fa fa-angle-right"></i>
      <a class="disabledLink">2. Reisedaten</a>
      <i class="fa fa-angle-right"></i>
      <a class="disabledLink">3. Bezahlung</a>
      <i class="fa fa-angle-right"></i>
      <a class="disabledLink">4. Bestätigung</a>
    </div>

    <div id="connectionInfo">
      <h1><span id="from"></span> <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 24 24" width="30" height="30">
          <path fill="none" d="M0 0h24v24H0z" />
          <path id="svgArrow" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" />
        </svg> <span id="to"></span></h1>
      <h3 style="font-weight: 300;">Datum: <span id="date"></span> | <span id="departureArrivalInfo"></span>: <span
          id="time"></span></h3>
      <a href="../../public/index.html">Ändern</a>
    </div>

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="vertical-align: middle;">Von - Bis</th>
          <th scope="col" style="vertical-align: middle;">Dauer</th>
          <th scope="col" style="vertical-align: middle;">Richtung</th>
          <th scope="col" style="vertical-align: middle;">Umsteigen</th>
          <th scope="col" style="text-align: center;">Plattform</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="tableBody"></tbody>
    </table>

    <div id="pagination">
      <a onclick="paginate(-1)" id="earlier" style="font-weight: 300;">Frühere Verbindungen</a>
      <a onclick="paginate(1)" id="later" style="font-weight: 300;">Spätere Verbindungen</a>
    </div>

    <template id="table">
      {{#connections.0}}
      <tr class="connectionRow">
        <td class="tableData"><span class="tableFromTime">{{#from}} {{departure}} {{/from}}</span> <i
            class="fa fa-long-arrow-right"></i> <span class="tableToTime">{{#to}} {{arrival}} {{/to}}</span></td>
        <td class="tableDuration">{{duration}}</td>
        <td>{{#sections}} {{#journey}} {{to}} {{/journey}} {{/sections}}</td>
        <td>{{transfers}}</td>
        <td class="tablePlatform">Gleis {{#from}} {{platform}} {{/from}}</td>
        <td><button class="btn btn-primary" onclick="selectConnection('{{#from}}{{departure}}{{/from}}');">Kaufen</button></td>
        <td><i class="fa fa-plus-square-o rowExpander" style="color: gray;"></i></td>
      </tr>
      <tr class="hiddenRow detailRow">
        <td colspan="8">
          <span class="products"> {{products}} </span>
        </td>
      </tr>
      {{/connections.0}}

      {{^connections.0}}
        <tr class="connectionRow">
          <td rowspan="7">No connections</td>
        </tr>
      {{/connections.0}}
    </template>

  </main>

  <script>
    window.onscroll = function () { adjustHeader() };

    function adjustHeader() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementsByTagName('header')[0].style.height = "16%";
      }
      else {
        document.getElementsByTagName('header')[0].style.height = "28%";
      }
    }
  </script>

  <script src="../scripts/connections.js"></script>
  <script src="../scripts/theme.js"></script>

  <footer>
    <h4>&copy; Copyright 2021 / M120 Ticket Machine</h4>
  </footer>

</body>

</html>