<!doctype html>
<html lang="en">

<head>
    <title>M120 Ticket Machine | Reisedaten</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../public/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../public/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/assets/favicon_io/favicon-16x16.png">
    <link rel="icon" href="../../public/assets/favicon_io/favicon.ico">
    <link rel="manifest" href="../../public/assets/favicon_io/site.webmanifest">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/payment.css">

</head>

<body>
    <header>
        <a class="imageLink" href="../../public/index.html"><img class="LogoCircular"
                src="../../public/assets/Logo_Circular.png" alt=" Logo"></a>

        <div class="LoginRef">
            <i class="themeToggle fa"></i>
        </div>

    </header>

    <main>
        <div id="steps">
            <a class="hoverableLink" href="connections.html">1. Verbindung</a>
            <i class="fa fa-angle-right"></i>
            <a class="hoverableLink" href="data.html">2. Reisedaten</a>
            <i class="fa fa-angle-right"></i>
            <a class="activeLink">3. Bezahlung</a>
            <i class="fa fa-angle-right"></i>
            <a class="disabledLink">4. Bestätigung</a>
        </div>

        <div id="connectionInfo">
            <h1 id="fromH1"><span class="from"></span> <svg xmlns="http://www.w3.org/2000/svg" class="svg"
                    viewBox="0 0 24 24" width="30" height="30">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path id="svgArrow"
                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" />
                </svg> <span class="to"></span></h1>
            <h3 style="font-weight: 300;">Datum: <span class="date"></span> | Abfahrt: <span class="time"></span></h3>

            <h2 id="price"></h2>

            <a href="../../public/index.html">Ändern</a>
        </div>

        <form id="paymentMethods">
            <div id="methods">
                <input id="twint" type="radio" name="payment" value="twint">
                <label class="drinkcard-cc twint" for="twint"></label>
                <input id="creditcard" type="radio" name="payment" value="creditcard">
                <label class="drinkcard-cc creditcard" for="creditcard"></label>
                <input id="reka" type="radio" name="payment" value="reka">
                <label class="drinkcard-cc reka" for="reka"></label>
                <input id="postfinance" type="radio" name="payment" value="postfinance">
                <label class="drinkcard-cc postfinance" for="postfinance"></label>
            </div>

        </form>
        <button id="purchaseButton" class="btn btn-primary">Kaufen</button>

    </main>

    <script src="../scripts/payment.js"></script>
    <script src="../scripts/theme.js"></script>

    <footer>
        <h4>&copy; Copyright 2021 / M120 Ticket Machine</h4>
    </footer>

</body>

</html>