html
{
    min-height: 100%;
    height: auto;
}

header
{
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.2s ease;
    height: 28%;
    background: #FFF;

    border-bottom: 1px solid red;
}

.LogoCircular
{
    height: 264%;
}

.LoginRef
{
    position: absolute;
    right: 6%;
    z-index: 1;
}

.activeLink
{
    position: relative;
    display: inline-block;
    text-align: center;
}

.activeLink,
.activeLink:hover,
.activeLink:active,
.activeLink:focus
{
    text-decoration: none;
}

.activeLink:after
{
    content: "";
    position: absolute;
}

.activeLink:after
{
    top: 95%;
    height: 2px;
    width: 100%;
    left: 0;
    background: #1962b4;
    transition: 0.5s ease all 0.3s;
}

#steps
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
    width: 70%;
    margin-bottom: 2%;
}

.activeLink
{
    color: #1962b4;
}

.disabledLink
{
    color: gray;
    text-decoration: none;
}

.disabledLink:hover 
{
    color: gray;
}

main
{
    padding: 1%;
    /*margin-top: 0.5%;*/
}

#connectionInfo
{
    height: 40%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

td
{
    vertical-align: middle;
    cursor: pointer;
    padding: 3%!important;
}

.connectionRow
{
    background: #f6f6f6!important;
    padding: 3%!important;
}

.tablePlatform
{
    text-align: center;
}

.table
{
    margin-top: 3%;
    width: 70%;
}

.rowExpander
{
    font-size: 1.7rem;
    vertical-align: middle;
}

.hiddenRow
{
    display: none;
}

.detailRow
{
    transition: all 0.3s ease;
}

footer
{
    margin-top: 9%;
    margin-bottom: 16%;
}