h1
{
    margin-bottom: 5%;
}

#form
{
    padding: 3%;
    width: 36%;
}

#links
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}

#loginButton::after
{
    content: '\2192';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

#loginButton:hover:after 
{
    opacity: 1;
    right: 10px;
}