/*general*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

html, body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

*
{
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

html
{
    scroll-behavior: smooth;
}

body
{
    --text-color: #000;
    --input-background: #FFF;
    --document-background: #FFF; 
    --text-color: #000;
    --icon-color: #000;
}

body
{
    /*display: flex;
    flex-direction: column;*/

    display: grid;

    grid-template-areas: "head"
                         "main"
                         "foot";

    grid-template-rows: 26% 55% 1fr;

    grid-template-columns: 100%;

    background: var(--document-background);
}

body.dark-theme
{
    --text-color: #FFF;
    --input-background: #4B4B4B;
    --document-background: #2a2929;
    --text-color: #FFF;
    --floating-label-color: #ffffff;
    --icon-color: #FFF;
    --step-color: rgb(172, 164, 164);
}

/*header*/

header
{
    grid-area: head;
    /*height: 26%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageLink
{
    height: 50%;
    border: 1px solid black;
}

.LoginRef
{
    position: absolute;
    width: 10%;
    right: 6%;
    z-index: 1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.LoginRef > button > i
{
    width: 100%;
    height: 100%;
}

.LogoCircular
{
    transform: scale(0.4);
}

/*main*/

main
{
    grid-area: main;
    /*height: 55%;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

input
{
    outline: red!important;
}

footer
{
    grid-area: foot;
    /*height: 19%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

/* theme settings */

h1
{
    color: var(--text-color);
}

h3
{
    color: var(--text-color);
}

h4
{
    color: var(--text-color);
}

input
{
    background: var(--input-background)!important;
    color: var(--text-color)!important;
}

i
{
    color: var(--icon-color)!important;
}

#steps > a :not(.activeLink)
{
    color: var(--step-color);
}

.fa-moon-o, .fa-sun-o
{
    font-size: 1rem;
}

.fa-sun-o
{
    color: yellow!important;
}

/* label in floating inputs */
.form-floating > label
{
    color: var(--floating-label-color);
}