html
{
    min-height: 100%;
    height: auto;
}

.hoverableLink
{
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.hoverableLink,
.hoverableLink:hover,
.hoverableLink:active,
.hoverableLink:focus
{
    text-decoration: none;
}

.hoverableLink:after
{
    content: "";
    position: absolute;
}

.hoverableLink:after
{
    top: 95%;
    height: 2px;
    width: 0%;
    left: 0;
    background: #1962b4;
    transition: 0.2s ease all 0.3s;
}

.hoverableLink:hover:after
{
    width: 100%;
    transition: 0.3s ease all;
}

.activeLink
{
    position: relative;
    display: inline-block;
    text-align: center;
}

.activeLink,
.activeLink:hover,
.activeLink:active,
.activeLink:focus
{
    text-decoration: none;
}

.activeLink:after
{
    content: "";
    position: absolute;
}

.activeLink:after
{
    top: 95%;
    height: 2px;
    width: 100%;
    left: 0;
    background: #1962b4;
    transition: 0.5s ease all 0.3s;
}

#steps
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
    width: 70%;
    margin-bottom: 3%;
}

.activeLink
{
    color: #1962b4;
}

.disabledLink
{
    color: gray;
    text-decoration: none;
}

.disabledLink:hover 
{
    color: gray;
}

header
{
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.2s ease;
    height: 28%;
    background: #FFF;
    z-index: 9999;
    background: var(--document-background);
}

.LogoCircular
{
    height: 100%;
    transform: scale(2);
}

#connectionInfo
{
    height: 40%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#svgArrow
{
    fill: var(--text-color);
}

main
{
    margin-top: 6%;
    padding: 1%;
}

h3
{
    font-weight: bold;
    margin-bottom: 3%;
}

#price
{
    color: var(--text-color);
}

#paymentMethods
{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#methods input
{
    margin: 0;
    padding: 0;
    appearance: none;
}

.twint
{
    background: url(../assets/payments/twint.jpg);
}

.creditcard
{
    background: url(../assets/payments/creditcard.png);
}

.reka
{
    background: url(../assets/payments/reka.jpg);
}

.postfinance
{
    background: url(../assets/payments/postfinance.png);
}

#methods input:active + .drinkcard-cc
{
    opacity: 0.9;
}

#methods input:checked + .drinkcard-cc
{
    filter: none;
}

.drinkcard-cc
{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 70px;
    transition: all 100ms ease-in;
    filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.drinkcard-cc:hover
{
    filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

#purchaseButton
{
    margin-top: 3%;
    width: 13%;
}

footer
{
    margin-top: 8%;
}

